@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'DM Mono', monospace;
}

body {
    background: linear-gradient(45deg, black 40%, rgb(41, 41, 41), rgb(18, 18, 18));
    height: 100vh;
}

.input-container {
    display: flex;
    flex-direction: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}

h1 {
    width: 100vw;
    font-size: 4.1em;
    text-align: center;
    color: white;
    font-family: 'DM Serif Text', serif;
    word-break: keep-all;
}

input {
    font-size: large;
    width: 100%;
    min-width: max-content;
    padding-block: 9px;
    padding-left: 7px;

    border-radius: 6px;

    box-shadow: inset -1px -1px 6px 4px #3f2c43, -1px -1px 1px 1px #321033;
    border: 2px solid white;

    background-color: #1e1922;
    color: white;
    font-family: 'Geologica', sans-serif;
}

.button-container {
    width: 100vw;
    display: flex; 
    justify-content: center;
}

button {
    border-radius: 24px;
    padding-block: 20px;
    padding-inline: 40px;

    font-size: large;
    font-family: 'Geologica', sans-serif;

    background: linear-gradient(rgb(27, 27, 27) 80%, rgb(35, 35, 35));
    color: white;

    outline: none;
    border: 2px solid grey;
}

button:hover {
    outline: none;
    border: 2px solid white;
}

.parathing {
    margin: 0;
    font-weight: 300;
    font-size: small;
    color: white;
}