@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'DM Mono', monospace;
}

#map {
    width: 100vw;
    height: 100vh;
}

#map:focus-visible {
    border: none;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
}

.mapcontrols {
    position: absolute;
    top: 25px;
    left: 20px;
    display: flex;
    gap: 11px;
    flex-direction: column;
}

.map-control-button {
    font-size: medium;
    padding-inline: 35px;
    padding-block: 13px;

    color: white;
    border-radius: 50px;
    background: linear-gradient(145deg, #232323, #1e1e1e);
    box-shadow:  8px 8px 15px #1c1c1c,
                -8px -8px 15px #262626;
    
    border: 2px solid rgb(72, 72, 72);
}

.map-control-button:hover {
    border: 2px solid white;
}

.mapinfo {
    position: absolute;
    z-index: 1000;
    bottom: 25px;
    left: 18px;
    background: linear-gradient(145deg, #232323, #1e1e1e);
    box-shadow:  8px 8px 15px #1c1c1c,
                -8px -8px 15px #262626;
    color: white;

    border: 2px dashed white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 1px;
    font-size: small;
    padding: 24px;
}

.mapinfo > p {
    margin: 0;
}

.poi {

    position: absolute;
    z-index: 1000;
    inset-block: 50%;
    left: 18px;
    background: linear-gradient(145deg, #23232393, #1e1e1e);
    box-shadow:  8px 8px 15px #1c1c1c,
                -8px -8px 15px #262626;
    color: white;

    border: 1px dashed grey;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 1px;
    font-size: small;
    padding: 20px;
    height: fit-content;
    width: 20rem;
}

.poi p {
    font-size: 1.1em;
    margin: 0;
}

.poi > h3 {
    margin: 0;
    margin-bottom: 20px;
    width: 70%;
}

@media (max-width: 661px) {
    .map-control-button {
        font-size: small;
    }
}